<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon (click)="this.sideNav.open()" *ngIf="!sideNav?.opened"
      >menu</mat-icon
    >
    <mat-icon (click)="this.sideNav.close()" *ngIf="sideNav?.opened"
      >close</mat-icon
    >
  </button>
  <img src="/assets/logo.svg" style="max-width: 65px; height:55px;margin-left:5px;"><h1 style="margin-left: 10px;">DHS Child Care</h1>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon example-spacer" aria-label="Example icon-button with share icon">
    <span>Logout</span>
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <mat-nav-list>
      <span *ngFor="let item of menu">
        <span *ngIf="item.children && item.children.length > 0">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div fxLayout="row" fxLayoutAlign="space-between center" > 
                    <mat-icon>{{item.iconName}}</mat-icon>
                    {{item.displayName}}
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <span *ngFor="let child of item.children">
                <mat-list-item routerLink="[child.route]">
                  <div fxLayout="row" fxLayoutAlign="space-between center" > 
                    <mat-icon>{{item.iconName}}</mat-icon>
                    {{child.displayName}}
                  </div>
                </mat-list-item>
              </span>
            </mat-expansion-panel>
          </mat-accordion>
        </span>
        <span *ngIf="!item.children || item.children.length === 0">
          <mat-list-item routerLink="[item.route]">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <mat-icon>{{item.iconName}}</mat-icon>
              {{item.displayName}}
            </div>
          </mat-list-item>
        </span>
      </span>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content mat-elevation-z8">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
